<div class="row">

  <div class="title">
    <h2>Mantenimiento de Clientes</h2>
  </div>
  <div class="col-md-12 message-exito" *ngIf="messageExito.length > 0">
    {{messageExito}}
  </div>
  <div class="col-md-12 message-error " *ngIf="messageError.length > 0">
    {{messageError}}
  </div>

  
  <div class="col-md-12">

    <button type="button" class="btn btn-primary m-b-5 tamano-regular" (click)="openCustomerModal(0)">  Nuevo</button>
    <div class="spinner-border" role="status" *ngIf="loading == true">
      <span class="sr-only">Loading...</span>
    </div>
    <table class="grd">
      <thead>

        <tr>
          <th> Codigo</th>
          <th> Nombres</th>
          <th> Apellidos</th>
          <th> Fecha Nac.</th>
          <th> Email Address</th>
          <th> Genero</th>
          <th> Tels</th>
          <th> Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of records">
          <td> {{r.id}}</td>
          <td>{{r.name}}</td>
          <td>{{r.lastName}}</td>
          <td>{{r.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
          <td>{{r.emailAddress}}</td>
          <td>{{r.gender}}</td>
          <td>{{r.phones.length}}</td>
          <td class="accciones">
            <button type="button" class="btn-warning btn bt" (click)="edit(r)"> Editar </button>
            <button type="button" class="btn-danger btn bt" (click)="delete(r)"> Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
